*{
    background-color: #EBE9E1;
    margin: 0;
    padding: 0;
}


html, body{
    overflow: hidden; /* Prevent scrollbars from appearing */
}

p,h1{
    background-color: transparent;
}



.top_content{
    display: flex;
    margin: 2rem;
}

.left_corner{
    justify-content: flex-start;
    line-height: 1;
    position: fixed;
}

.left_corner h1{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #E4C17C;
}

.left_corner h2{
    font-family:'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #E4C17C;
}

.right_corner{
    color: #4056A1;
    margin-right: 2rem;
    right: 0;
    position: fixed;
    font-family: 'Alumni Sans';
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 1rem;
    font-weight: 500;
    font-size: 20px;
}



.circle-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;
}

.circle {
    position: relative;
    width: 650px;
    height: 650px;
    border: 1px dashed #4A62B6;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(0deg);
    transition: transform 0.5s;
    margin-top: -8rem;
    background-color: transparent;
}
.circle::before {
    content: '';
    position: absolute;
    width: 100.5%;
    height: 100.5%;
    border: 20px solid #EBE9E1;
    border-radius: 50%;
    z-index: -1;
}


.background-square {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 300px solid #CBCBE4;
    top: -26%;
    z-index: 0;
    transform: rotate(180deg);
}

.inner-circle {
    position: relative;
    width: 550px;
    height: 550px;
    border: 1px solid #CBCBE3;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-98deg);
    transition: transform 0.5s;
    background-color: none;
}

.segment {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4056A1;
    font-size: 1.1rem;
    background-color: transparent;
}

.segment p{
    text-align: center;
}

.segment:nth-child(1) { 
    transform: rotate(3deg) translate(295px);   
    display: grid;
 }
.segment:nth-child(2) { 
    transform: rotate(60deg) translate(295px);
    display: grid;
 }
.segment:nth-child(3) { 
    transform: rotate(123deg) translate(295px);
    display: grid; }
.segment:nth-child(4) { 
    transform: rotate(182deg) translate(295px);
    display: grid; }
.segment:nth-child(5) { 
    transform: rotate(245deg) translate(295px);
    display: grid;
 }
.segment:nth-child(6) { 
    transform: rotate(300deg) translate(295px);
    display: grid;
 }

/*About Me*/
.segment:nth-child(1) p:nth-child(1) { 
    transform: rotate(82deg) translateY(3px);
    }
.segment:nth-child(1) p:nth-child(2) { 
    transform: rotate(87deg) translateY(2px);
    }
.segment:nth-child(1) p:nth-child(3) { 
    transform: rotate(99deg) translateY(3px);
    }
.segment:nth-child(1) p:nth-child(4) { 
    transform: rotate(103deg) translateY(6px);
    }
.segment:nth-child(1) p:nth-child(5) { 
    transform: rotate(106deg) translateY(10px);
    }



/*Encolor*/
.segment:nth-child(2) p:nth-child(1) { 
    transform: rotate(84deg) translateY(2px);
    }
.segment:nth-child(2) p:nth-child(2) { 
    transform: rotate(88deg) translateY(1px);
    }
.segment:nth-child(2) p:nth-child(3) { 
    transform: rotate(95deg) translateY(2px);
    }
.segment:nth-child(2) p:nth-child(4) { 
    transform: rotate(102deg) translateY(4px);
    }
.segment:nth-child(2) p:nth-child(5) { 
    transform: rotate(105deg) translateY(9px)
    }
.segment:nth-child(2) p:nth-child(6) { 
    transform: rotate(110deg) translateY(14px)
    }
.segment:nth-child(2) p:nth-child(7) { 
    transform: rotate(114deg) translateY(21px)
    }


    
/*Texel*/
.segment:nth-child(3) p:nth-child(1) { 
    transform: rotate(84deg) translateY(3px);
    }
.segment:nth-child(3) p:nth-child(2) { 
    transform: rotate(89deg) translateY(2px);
    }
.segment:nth-child(3) p:nth-child(3) { 
    transform: rotate(95deg) translateY(3px);
    }
.segment:nth-child(3) p:nth-child(4) { 
    transform: rotate(100deg) translateY(6px);
    }
.segment:nth-child(3) p:nth-child(5) { 
    transform: rotate(107deg) translateY(10px);
    }

    
/*AmsterdamInn*/
.segment:nth-child(4) p:nth-child(1) { 
    transform: rotate(85deg) translateY(3px);
    }
.segment:nth-child(4) p:nth-child(2) { 
    transform: rotate(92deg) translateY(2px);
    }
.segment:nth-child(4) p:nth-child(3) { 
    transform: rotate(95deg) translateY(3px);
    }
.segment:nth-child(4) p:nth-child(4) { 
    transform: rotate(98deg) translateY(6px);
    }
.segment:nth-child(4) p:nth-child(5) { 
    transform: rotate(104deg) translateY(10px);
    }
.segment:nth-child(4) p:nth-child(6) { 
    transform: rotate(110deg) translateY(16px)
    }
  

/*Elio*/
.segment:nth-child(5) p:nth-child(1) { 
    transform: rotate(85deg) translateY(2px);
    }
.segment:nth-child(5) p:nth-child(2) { 
    transform: rotate(90deg) translateY(1px);
    }
.segment:nth-child(5) p:nth-child(3) { 
    transform: rotate(96deg) translateY(2px);
    }
.segment:nth-child(5) p:nth-child(4) { 
    transform: rotate(108deg) translateY(5px);
    }


/*Console*/
.segment:nth-child(6) p:nth-child(1) { 
    transform: rotate(85deg) translateY(2px);
    }
.segment:nth-child(6) p:nth-child(2) { 
    transform: rotate(92deg) translateY(1px);
    }
.segment:nth-child(6) p:nth-child(3) { 
    transform: rotate(94deg) translateY(2px);
    }
.segment:nth-child(6) p:nth-child(4) { 
    transform: rotate(99deg) translateY(4px)
    }
.segment:nth-child(6) p:nth-child(5) { 
    transform: rotate(107deg) translateY(8px);
    }
.segment:nth-child(6) p:nth-child(6) { 
    transform: rotate(111deg) translateY(13px);
    }
.segment:nth-child(6) p:nth-child(7) { 
    transform: rotate(114deg) translateY(20px)
    }




.content-display {
    position: absolute;
    font-weight: bold;
    text-align: center;
    color: #4056A1;
    top: 3rem;
}

.content {
    display: none;
}

.content-sections{
    display: none;
}

.content.active {
    display: block;
}

#content1 h1 {
    font-family: "Alumni Sans";
    font-size: 5rem;
    font-size: 150px;
    font-weight: 700;
    text-align: center;
    color: #CBCBE3;
    margin-top: 1rem;
}

#content1 p {
    font-family:  "Bungee Shade";
    font-size: 65px;
    text-align: start;
    color: #4056A1;
    margin-top: -5rem;
    font-weight: 100;
    font-style: normal;
}

#content1 h3 {
    font-family: "Bungee Shade";
    font-weight: bold;
    text-align: start;
    color: #F13C20;
    margin-top: -1.5rem;
    font-size: 50px;
}

#content2 a{
    display: block;
}

.previous{
    display: block;
    background-color: transparent;
}

.previous img{
    width: 380px;
    border: 10px solid black;
    border-radius: 1rem;
    z-index: 1;
    position: relative;
    background-color: black;
}

.previous a{
    display: block;
    background-color: transparent;
    text-align: center;
    padding-top: 2rem;
    color: #4056A1;
    text-decoration: none;
    font-family: 'Alumni Sans';
    font-size: 18px;
    z-index: 1;
    position: relative;
}

.previous::before {
    content: '';
    background-color: #CBCBE3;
    position: absolute;
    width: 440px;
    height: 440px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    opacity: 30%;
    left: -5%;
    bottom: -3rem;
}

.previous i{
    background-color: transparent;
    margin-left: 0.5rem;
    transition: transform 0.3s ease-in-out; 
}


.next{
    display: none;
    width: 300px;
    color: #4056A1;
    text-align: center;
    justify-content: center;
    margin: auto;
    background: transparent;
    z-index: 1;
    position: relative;
    bottom: 1rem;
}

.next p,
.next h1 {
    background-color: transparent; 
    top: -1rem;
    position: relative;
    z-index: 1;
    position: relative;
}

.next a{
    text-decoration: none;
    background-color: transparent;
    color: #F13C20;
    font-family: 'Alumni Sans';
    font-size: 18px;
    z-index: 1;
    position: relative;
}

.next::before {
    content: '';
    background-color: #CBCBE3;
    position: absolute;
    width: 440px;
    height: 440px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    opacity: 30%;
    left: -22%;
    bottom: -5rem;
}

.next h1{
    font-family: "Bungee Shade";
    font-size: 25px;
    line-height: 37px;
    margin:1rem 0 ;
}

.next i{
    background-color: transparent;
    margin-left: 0.5rem;
    transition: transform 0.3s ease-in-out; 
    color: #F13C20;
}


.next a:hover i,
.previous a:hover i{
    transform: translateX(10px);
}


.icons{
    display: grid;
    position: absolute;
    gap: 1rem;
    bottom: 2rem;
    margin-right: 2rem;
    right: 0;
}

.icons img{
    width: 50px;
    height: 50px;
    transition: transform 0.5s;
}

.icons img:hover{
    transform: scale(110%);
}

.rotate-me{
    display: none;

}

@media screen and (max-width: 1000px) {
    .circle {
        width: 550px;
        height: 550px;
        margin-top: -2rem;
    }
    
    .inner-circle {
        width: 450px;
        height: 450px;
    }

    .background-square{
        top: -6%;
    }

    .content-display{
        top: 6.5rem;
    }

    .previous img 
    {
        width: 300px;
    }

    .previous::before{
        width: 400px;
        height: 400px;
        left: -12%;
        bottom: -3rem;
    }

    #content1 h1 {
        font-size: 130px;
    }

    #content1 p {
        font-size: 60px;
        margin-top: -3rem;
    }

    .next::before{
        left: -16%;
        bottom: -3rem;
        width: 400px;
        height: 400px;
    }

    .segment:nth-child(1) { 
        transform: rotate(0deg) translate(240px);
        display: grid;
     }
    .segment:nth-child(2) { 
        transform: rotate(60deg) translate(240px);
        display: grid;
     }
    .segment:nth-child(3) { 
        transform: rotate(120deg) translate(240px);
        display: grid; }
    .segment:nth-child(4) { 
        transform: rotate(180deg) translate(240px);
        display: grid; }
    .segment:nth-child(5) { 
        transform: rotate(240deg) translate(240px);
        display: grid;
     }
    .segment:nth-child(6) { 
        transform: rotate(300deg) translate(240px);
        display: grid;
     }


}



@media screen and (max-width: 560px) {
    .circle {
        width: 170px;
        height: 170px;
        margin-top: -3.5rem;
    }

    .content-display {
        top: 8rem;
    }
    
    
    .background-square {
        top: -6;
    }
    
    .inner-circle {
        width: 100px;
        height: 100px;
    }

    .circle-container{
        margin-top: 10rem;
        height: 200vw;
    }

    .circle::before{
        width: 101.8%;
        height: 101.8%;
    }


    .segment p{
        margin: -2px;
        font-size: .7rem;
    }

    .segment:nth-child(1) {
        transform: rotate(0deg) translate(75px);
    }

    .segment:nth-child(2) {
        transform: rotate(60deg) translate(75px);
    }

    .segment:nth-child(3) {
        transform: rotate(120deg) translate(75px);
    }

    .segment:nth-child(4) {
        transform: rotate(180deg) translate(75px);
    }

    .segment:nth-child(5) {
        transform: rotate(240deg) translate(75px);
    }

    .segment:nth-child(6) {
        transform: rotate(300deg) translate(75px);
    }


    /*About Me*/
    .segment:nth-child(1) p:nth-child(1) { 
        transform: rotate(77deg) translateY(2px);
        }
    .segment:nth-child(1) p:nth-child(2) { 
        transform: rotate(76deg) translateY(0px);
        }
    .segment:nth-child(1) p:nth-child(3) { 
        transform: rotate(92deg) translateY(-1px);
        }
    .segment:nth-child(1) p:nth-child(4) { 
        transform: rotate(98deg) translateY(0px);
        }
    .segment:nth-child(1) p:nth-child(5) { 
        transform: rotate(103deg) translateY(2px);
        }



    /*Encolor*/
    .segment:nth-child(2) p:nth-child(1) { 
        transform: rotate(71deg) translateY(2px);
        }
    .segment:nth-child(2) p:nth-child(2) { 
        transform: rotate(80deg) translateY(0px);
        }
    .segment:nth-child(2) p:nth-child(3) { 
        transform: rotate(88deg) translateY(-1px);
        }
    .segment:nth-child(2) p:nth-child(4) { 
        transform: rotate(98deg) translateY(-1px);
        }
    .segment:nth-child(2) p:nth-child(5) { 
        transform: rotate(106deg) translateY(1px);
        }
    .segment:nth-child(2) p:nth-child(6) { 
        transform: rotate(113deg) translateY(3px);
        }
    .segment:nth-child(2) p:nth-child(7) { 
        transform: rotate(118deg) translateY(7px);
        }


        
    /*Texel*/
    .segment:nth-child(3) p:nth-child(1) { 
        transform: rotate(72deg) translateY(3px);
        }
    .segment:nth-child(3) p:nth-child(2) { 
        transform: rotate(79deg) translateY(0px);
        }
    .segment:nth-child(3) p:nth-child(3) { 
        transform: rotate(90deg) translateY(-1px);
        }
    .segment:nth-child(3) p:nth-child(4) { 
        transform: rotate(103deg) translateY(0px);
        }
    .segment:nth-child(3) p:nth-child(5) { 
        transform: rotate(113deg) translateY(3px);
        }

        
    /*AmsterdamInn*/
    .segment:nth-child(4) p:nth-child(1) { 
        transform: rotate(76deg) translateY(3px);
        }
    .segment:nth-child(4) p:nth-child(2) { 
        transform: rotate(78deg) translateY(1px);
        }
    .segment:nth-child(4) p:nth-child(3) { 
        transform: rotate(87deg) translateY(-0.5px);
        }
    .segment:nth-child(4) p:nth-child(4) { 
        transform: rotate(94deg) translateY(-0.5px);
        }
    .segment:nth-child(4) p:nth-child(5) { 
        transform: rotate(106deg) translateY(1px);
        }
    .segment:nth-child(4) p:nth-child(6) { 
        transform: rotate(111deg) translateY(4px);
        }
    

    /*Elio*/
    .segment:nth-child(5) p:nth-child(1) { 
        transform: rotate(75deg) translateY(3px);
        }
    .segment:nth-child(5) p:nth-child(2) { 
        transform: rotate(86deg) translateY(1px);
        }
    .segment:nth-child(5) p:nth-child(3) { 
        transform: rotate(96deg) translateY(1px);
        }
    .segment:nth-child(5) p:nth-child(4) { 
        transform: rotate(108deg) translateY(3px);
        }


    /*Animation*/
    .segment:nth-child(6) p:nth-child(1) { 
        transform: rotate(76deg) translateY(2px);
        }
    .segment:nth-child(6) p:nth-child(2) { 
        transform: rotate(82deg) translateY(0px);
        }
    .segment:nth-child(6) p:nth-child(3) { 
        transform: rotate(87deg) translateY(-1px);
        }
    .segment:nth-child(6) p:nth-child(4) { 
        transform: rotate(95deg) translateY(-1px);
        }
    .segment:nth-child(6) p:nth-child(5) { 
        transform: rotate(110deg) translateY(0px);
        }
    .segment:nth-child(6) p:nth-child(6) { 
        transform: rotate(111deg) translateY(3px);
        }





    .icons {
        display: flex;
        position: absolute;
        gap: 3rem;
        bottom: 2rem;
        left: 50%;
        transform: translateX(-50%);
        margin-right: -3rem;
        bottom: 1rem;
    }

    .previous::before{
        width: 300px;
        height: 260px;
        left: -2.5rem;
    }

    .next::before{
        width: 300px;
        height: 250px;
        bottom: -1rem;
        left: 0rem;
    }

    .next h1{
        font-size: 27px;
    }
    .next p{
        font-size: 0.8rem;
        margin: auto;
        width: 90%;
    }

    .previous img{
        width: 200px;
    }

    .left_corner h1 {
        font-size: 23px;
    }

    .left_corner h2 {
        font-size: 18px;
    }

    .background-square{
        border-left: 45px solid transparent;
        border-right: 45px solid transparent;
        border-bottom: 100px  solid #CBCBE4;
    }

    .rotate-me{
        display: block;
        position: absolute;
        font-family: 'Alumni Sans';
        font-size: 18px;
        color: #CBCBE3;
        top: 1rem;
    }

    #content1 h1 {
        font-size: 110px;
    }

    #content1 p{
        font-size: 50px;
        margin-top: -3.5rem;
    }
    #content1 h3 {
        font-size: 40px;
        margin-top: -1.5rem;
    }
}


@media screen and (max-width: 440px) {
.background-square {
    top: -8%;
}

}


